.projects {
  background-color: #04032d;
  color: white;
  padding: 0rem 3rem 1rem;
  font-family: "Open Sans", sans-serif;
}

.projects-heading {
  text-align: center;
}

.projects-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 3rem 0;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 15px;
  border-radius: 16px;
  color: black;
  padding: 1rem;
}

.project-abstract {
  font-size: 0.9rem;
  display: none;
}

.project-tech-stack {
  color: #004edd;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.project-name {
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.project-image-container {
  width: 100%;
}

.project-image {
  width: 100%;
  border-radius: 16px;
}

.project-details-pane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.project-details-pane-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-button-links {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.project-button,
.project-link,
.github-link {
  width: 100%;
}

.project-button {
  border: 0;
  background: #004edf;
  color: white;
  border-radius: 8px;
  border: 2px solid #004edf;
  padding: 0.5rem 1rem;
  font-size: 1.15rem;
}

.project-button:hover {
  background: white;
  color: #04032d;
}

@media (min-width: 1024px) {
  .projects {
    padding: 1rem 4rem;
  }

  .project-wrapper {
    flex-direction: row;
    gap: 25px;
    background-color: #04032d;
    align-items: center;
  }

  .project-wrapper:nth-child(2) {
    flex-direction: row-reverse;
  }

  .project-pane {
    width: 60%;
  }

  .project-details-pane {
    background-color: white;
    width: 40%;
    height: 100%;
    border-radius: 16px;
    padding: 1.5rem;
    justify-content: space-between;
    gap: 25px;
  }

  .project-details-pane-row {
    flex-direction: column;
  }

  .project-abstract {
    margin: 1rem 0;
    display: block;
  }
  .project-name,
  .project-tech-stack {
    width: 100%;
    justify-content: flex-start;
  }

  .project-timeline {
    justify-self: flex-end;
    color: grey;
  }
}
