@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.homepage-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 70vh;
  padding: 3rem 1.5rem;
  background-color: #04032d;
}

.homepage-heading {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: white;
  animation: fadeIn 1.5s forwards ease;
}

.project-button-links {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.project-button,
.project-link,
.github-link {
  width: 100%;
}

.project-button {
  border: 0;
  background: #04032d;
  color: white;
  border-radius: 8px;
  border: 2px solid #04032d;
  padding: 0.5rem 1rem;
  font-size: 1.15rem;
}

.project-button:hover {
  background: white;
  color: #04032d;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
}

.homepage-heading h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.homepage-heading h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #00b1f4;
}

.homepage-heading h3 {
  font-size: 1rem;
  font-weight: 400;
}

.avatar {
  max-width: 150px;
}

.about-wrapper {
  background: #04032d;
  padding: 3rem 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  text-align: center;
  color: white;
}

.about-heading {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  margin: 0.5rem 0;
}

.about-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  margin: 2rem 0;
}

.about-details-box {
  border-radius: 16px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: black;
  gap: 15px; /* min-height: 300px; */
}

.about-details-box h2 {
  color: #04032d;
}

.about-details-box-image {
  width: 100%;
  max-width: 250px;
}

#skills {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  background: #04032d;
  color: white;
  padding: 3rem 1.5rem;
  text-align: center;
}

.skill-box-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  margin: 2rem 0;
  width: 100%;
}

.skill-box {
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  max-width: 200px;
  min-height: 200px;
  border-radius: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .homepage-wrapper {
    height: 80vh;
  }

  .homepage-heading h1 {
    font-size: 3.5rem;
    letter-spacing: 5px;
  }

  .homepage-heading h2 {
    font-size: 2rem;
  }

  .homepage-heading h3 {
    width: 75%;
    font-size: 1.25rem;
  }

  .avatar {
    max-width: 200px;
  }

  .about-details {
    display: flex;
    flex-direction: row;
  }

  .about-details-box {
    width: 30%;
    height: 100%;
    min-height: 400px;
  }

  .about-details-image-container {
    height: 150px;
  }

  .about-details-box-image {
    width: 100%;
  }

  .skill-box-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
